body, html {
  height: 100%;
  font-family: arial;
}

#flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	heigh: 100%;
}

#flex-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}